.feedbackBtn {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #3c096c;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedbackBtn:not(:last-child) {
  margin-right: 5px;
}

.feedbackBtn:hover:first-child {
  background-color: #8ac926;
  color: #ffffff;
}

.feedbackBtn:active:first-child {
  background-color: #55a630;
}

.feedbackBtn:hover:nth-child(2n) {
  background-color: #ffca3a;
  color: #ffffff;
}

.feedbackBtn:active:nth-child(2n) {
  background-color: #faa307;
}

.feedbackBtn:hover:last-child {
  background-color: #ff595e;
  color: #ffffff;
}

.feedbackBtn:active:last-child {
  background-color: #e01e37;
}
